<div class="cuadro">
<div @rotate class="al" role="alert">
    <table style="border: hidden">
      <tbody style="border: hidden">
      <tr style="border: hidden">
      <td @BVD style="border: hidden; font-size:80px;">B</td>
      <td @IE style="border: hidden; font-size:80px;">I</td>
      <td @ENO style="border: hidden; font-size:80px;">E</td>
      <td @NI style="border: hidden; font-size:80px;">N</td>
      <td @BVD style="border: hidden; font-size:80px;">V</td>
      <td @IE style="border: hidden; font-size:80px;">E</td>
      <td @ENO style="border: hidden; font-size:80px;">N</td>
      <td @NI style="border: hidden; font-size:80px;">I</td>
      <td @BVD style="border: hidden; font-size:80px;">D</td>
      <td @ENO style="border: hidden; font-size:80px;">O</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
